<main>
  <div class="mt-40 text-center text-success">
    <h1>
      <i class="far fa-check-circle"></i> 
      Success!
    </h1>
  </div>
  <div class="mt-40 text-center">
    <div class="mt-20 text-center text-secondary border-placeholder">
      <div>
        <span>Total Amount:</span>
        <code> {{amount}} {{currency}}</code>
      </div>
      <div>
        <span>Stripe Payment ID:</span>
        <code>{{paymentIntentId}}</code>
      </div>
    </div>
  </div>
</main>